<div
  class="bg-gray-800 text-white px-7 py-2 text-xs flex justify-center items-center"
>
  <div class="inline-flex">
    <p class="px-1">Made with</p>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="16"
      height="16"
      fill="currentColor"
      class="bi bi-heart-fill text-red-600"
      viewBox="0 0 16 16"
    >
      <path
        fill-rule="evenodd"
        d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"
      />
    </svg>
    <p class="px-1">by Anshul Jain</p>
  </div>
</div>
