<div class="flex flex-col justify-center items-center">
  <div class="flex text-center p-6 md:pt-0 md:pb-12 md:text-4xl">
    <div
      class="bg-gray-300 md:p-10 md:rounded-2xl md:shadow-xl rounded-lg shadow-lg"
    >
      We are a Premium Partner of the following Certifying Authority (CA)
    </div>
  </div>
  <div class="flex flex-col space-y-5 md:space-y-0 md:flex-row md:space-x-12">
    <div class="box-content h-72 w-72 shadow-xl rounded-xl">
      <img class="rounded-xl shadow-xl" src="./assets/eMudhra.jpg" alt="" />
      <p class="text-center pt-2 text-sm">
        eMudhra is a licensed Certifying Authority (CA) of India issuing digital
        signature certificates.
      </p>
    </div>
    <div class="box-content h-72 w-72 shadow-xl rounded-xl">
      <img class="rounded-xl shadow-xl" src="./assets/pantasign.jpg" alt="" />
      <p class="text-center pt-2 text-sm">
        Pantasign is a licensed Certifying Authority (CA) of India issuing
        digital signature certificates.
      </p>
    </div>
    <div class="box-content h-72 w-72 shadow-xl rounded-xl">
      <img class="rounded-xl shadow-xl" src="./assets/sify.jpg" alt="" />
      <p class="text-center pt-2 text-sm">
        Sify is a licensed Certifying Authority (CA) of India issuing digital
        signature certificates.
      </p>
    </div>
    <div class="box-content h-72 w-72 shadow-xl rounded-xl">
      <img
        class="w-full rounded-xl shadow-xl"
        src="./assets/vsign.png"
        alt=""
      />
      <p class="text-center pt-2 text-sm">
        VSign is a licensed Certifying Authority (CA) of India issuing digital
        signature certificates.
      </p>
    </div>
  </div>
</div>
